.mainmusic{
    position: fixed;
    background-color: #24183d;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

}
.headlinemusic{
    position: relative;
    color: white;
    left: 30px;
    top:10px;
    font-family: 'Montserrat', sans-serif;
}
.searchicon{
    position: absolute;
    color: white;
    background-color: #9c27af;
    border-radius: 50px;

    right: 52px;
    top: 118px;
}

.searchbar{
    position: absolute;
    left:0px;
    height: 1px;
    width: 70vw;
    top: 92px;
}

.displaycurrentmusic{
    position: relative;
    left:30px;
    top:10px;
}
.currentlyplay2{
    position: relative;
    color: #1573ff;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

.songname2{
    position: absolute;
    left: 0px;
    top: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
}

.artistlabel2{
    position: absolute;
    left: 0px;
    top: 53px;
    color: rgb(172, 168, 168);
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.progressbar{
    position: relative;
    top: 65px;
    width: 70vw;
}


.queuelist{
    position: relative;
    top:300px;
}

.comminguplabel{
    position: relative;
    color: rgb(172, 168, 168);
    font-family: 'Montserrat', sans-serif;
    top: 0px;
    height: 30px;
}

.dot{
    position: relative;
    color: rgb(172, 168, 168);
    font-family: 'Montserrat', sans-serif;

}

.songqueue{
    position: relative;
    left:15px;
    top: -20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
}

.artistqueue{
    position: relative;
    left: 15px;
    top: -20px;
    color: rgb(172, 168, 168);
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}