.main{
    position: relative;
    background-color: #24183d;
}

.headlinedrinks{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    left: 10px;
    color: white;
}
.drinks{
    position: relative;
    background-color: red;
    
}

.downdrinks{
position: relative;
left: 2vw; 
width: 100px;
}
.drinky{
    position:relative;
    background-color: #120C1F;
    width: 95vw;
    height: 65px;
    border-radius: 10px;
    top: 10%;
}
.drinkpic{
    position:relative;
    left: 10px;
    top: 8px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.drinkname{
    position: absolute;
    left: 75px;
    top: 10px;
    font-size:large;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.drinkdesk{
    position: absolute;
    left:75px;
    top: 35px;
    color: gray;
    font-size: x-small;
    font-family: 'Montserrat', sans-serif;
}
.send{
    position: absolute;
    top: -15px;
    right: -270px;
    width: 60px;
    height: 40px;
    color: gray;
}
.space{
    position: relative;
    height: 5px;
}
.longspace{
    position: relative;
    height: 100px;
}